.editorContainer{
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    border-width: 2px 0;
}

.tabs{
    padding: 0px 8px;
    margin-bottom: -2px;
    z-index: 2;
    padding-top: 8px;
    color:white;
    height:31px
}

.tabsButton{
    cursor: pointer;
    border-color:  rgba(255,255,255,0.09);
    border-bottom-color: rgba(255,255,255,0.2); 
    width: 72px;
    height: 31px;
    border-radius: 4px;
    outline: none;
    background-color: #161616;
    color: rgba(255,255,255,0.5);
    
}

.activeTab{
    border-color: rgba(255,255,255,0.5);
    border-bottom-color: #1E1E1E;
    color: #ffffff;
    font-weight: 600
    
}

.tabsButtonText{
    width: 40px;
    height: 15px;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    
}

.applyChangeDisabled{
    width: 132px;
    display: inline-block;
    color: rgba(255,255,255,0.5);
    border-color: #282828;
    height: 24px;
    border-radius: 4px;
    background-color: #282828;
}

.applyChangeActive{
    width: 132px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    border-color: #282828;
    height: 24px;
    border-radius: 4px;
    background-color: green;
}

.addTab{
    cursor: pointer;
    padding: 8px
}