.header{
    background-color: black;
    padding: 14px 18px;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: rgb(255, 255, 255,0.5)
}
.header-title{
    width: 125px;
    height: 21px;
    opacity: 0.8;
    font-family: AmericanTypewriter;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}