.chats {
  min-height: 50px;
  margin: 22px;
  color: white;
  display: flex;
}

.chat-right {
  flex-direction: row-reverse;
}

.chatBox {
  height: 55%;
  width: 90%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  background: #1f1f1f;
  border-radius: 8px;
  padding: 5px 10px;
  overflow: auto;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}
.chat-msg-right {
  margin-right: 20px;
}
.chats-msg {
  height: 100%;
  width: auto;
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 10px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d3d3d3;
  max-width: 400px;
  background-color: #404040;
}
.chats-msg-right {
  height: 100%;
  width: auto;
  text-align: end;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 10px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d3d3d3;
  background-color: #404040;
}
.chat-msg-loading {
  width: 50px;
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 10px;
  background-color: #404040;
  margin-right: 20px;
}
